---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="csl-bib-body">
    <div data-csl-entry-id="garani2022ethical" class="csl-entry">
      <div class="csl-left-margin">[1]</div><div class="csl-right-inline">T. Garani-Papadatos, P. Natsiavas, M. Meyerheim, S. Hoffmann, C. Karamanidou, and S. A. Payne, “Ethical Principles in digital palliative care for children: the MyPal project and the way to a trustworthy approach,” <i>Frontiers in Digital Health</i>, p. 27, 2022.</div>
    </div>
    <div data-csl-entry-id="scarfo2021mypal" class="csl-entry">
      <div class="csl-left-margin">[2]</div><div class="csl-right-inline">L. Scarfò <i>et al.</i>, “MyPal ADULT study protocol: a randomised clinical trial of the MyPal ePRO-based early palliative care system in adult patients with haematological malignancies,” <i>BMJ open</i>, vol. 11, no. 11, p. e050256, 2021.</div>
    </div>
    <div data-csl-entry-id="dimitriadis2021pharmacovigilance" class="csl-entry">
      <div class="csl-left-margin">[3]</div><div class="csl-right-inline">V. K. Dimitriadis, G. I. Gavriilidis, and P. Natsiavas, “Pharmacovigilance and clinical environment: utilizing OMOP-CDM and OHDSI software stack to integrate EHR data,” in <i>Public Health and Informatics</i>, IOS Press, 2021, pp. 555–559.</div>
    </div>
    <div data-csl-entry-id="natsiavas2018leveraging" class="csl-entry">
      <div class="csl-left-margin">[4]</div><div class="csl-right-inline">P. Natsiavas, M.-C. Jaulent, and V. Koutkias, “Leveraging Semantic Technologies to Bring Active Pharmacovigilance at the Point of Care,” 2018.</div>
    </div>
    <div data-csl-entry-id="gavriilidis2021identifying" class="csl-entry">
      <div class="csl-left-margin">[5]</div><div class="csl-right-inline">G. I. Gavriilidis, V. K. Dimitriadis, M.-C. Jaulent, and P. Natsiavas, “Identifying Actionability as a Key Factor for the Adoption of ‘Intelligent’Systems for Drug Safety: Lessons Learned from a User-Centred Design Approach,” <i>Drug safety</i>, vol. 44, no. 11, pp. 1165–1178, 2021.</div>
    </div>
    <div data-csl-entry-id="maramis2019using" class="csl-entry">
      <div class="csl-left-margin">[6]</div><div class="csl-right-inline">C. Maramis <i>et al.</i>, “Using electronic patient reported outcomes to foster palliative cancer care: The MyPal Approach,” in <i>2019 IEEE 19th International Conference on Bioinformatics and Bioengineering (BIBE)</i>, 2019, pp. 405–409.</div>
    </div>
    <div data-csl-entry-id="meyerheim2021mypal" class="csl-entry">
      <div class="csl-left-margin">[7]</div><div class="csl-right-inline">M. Meyerheim <i>et al.</i>, “MyPal-Child study protocol: an observational prospective clinical feasibility study of the MyPal ePRO-based early palliative care digital system in paediatric oncology patients,” <i>BMJ open</i>, vol. 11, no. 4, p. e045226, 2021.</div>
    </div>
    <div data-csl-entry-id="bonotis2021randomization" class="csl-entry">
      <div class="csl-left-margin">[8]</div><div class="csl-right-inline">P. Bonotis <i>et al.</i>, “Randomization of Clinical Trial Participants via an Integrated Web Service,” in <i>Public Health and Informatics</i>, IOS Press, 2021, pp. 1124–1125.</div>
    </div>
    <div data-csl-entry-id="kakalou2022gdpr" class="csl-entry">
      <div class="csl-left-margin">[9]</div><div class="csl-right-inline">C. Kakalou <i>et al.</i>, “A GDPR-Compliant Partner Notification Service,” <i>Studies in health technology and informatics</i>, vol. 289, pp. 460–464, 2022.</div>
    </div>
    <div data-csl-entry-id="lazarus2021twitter" class="csl-entry">
      <div class="csl-left-margin">[10]</div><div class="csl-right-inline">J. V. Lazarus <i>et al.</i>, “A Twitter discourse analysis of negative feelings and stigma related to NAFLD, NASH and obesity,” <i>Liver International</i>, vol. 41, no. 10, pp. 2295–2307, 2021.</div>
    </div>
    <div data-csl-entry-id="alexopoulou2021sleep" class="csl-entry">
      <div class="csl-left-margin">[11]</div><div class="csl-right-inline">C. Alexopoulou <i>et al.</i>, <i>Sleep apnea patients report neglected care during COVID-19 pandemic</i>. Eur Respiratory Soc, 2021.</div>
    </div>
    <div data-csl-entry-id="trakada2021prevalence" class="csl-entry">
      <div class="csl-left-margin">[12]</div><div class="csl-right-inline">G. Trakada <i>et al.</i>, <i>Prevalence of Cardiometabolic Disease in the Greek Sleep Apnea Patients Cohort</i>. Eur Respiratory Soc, 2021.</div>
    </div>
    <div data-csl-entry-id="kakalou2021riskradar" class="csl-entry">
      <div class="csl-left-margin">[13]</div><div class="csl-right-inline">C. Kakalou <i>et al.</i>, “RiskRadar: development and pilot results of a technical intervention targeting combination prevention regarding HIV, viral hepatitis, sexually transmitted infections and tuberculosis,” <i>BMC Infectious Diseases</i>, vol. 21, no. 2, pp. 1–12, 2021.</div>
    </div>
    <div data-csl-entry-id="payne2022digital" class="csl-entry">
      <div class="csl-left-margin">[14]</div><div class="csl-right-inline">C. Payne, H. Kondylakis, and L. Koumakis, “Digital Health for Palliative Care,” <i>Frontiers in Digital Health</i>, vol. 4, 2022.</div>
    </div>
    <div data-csl-entry-id="hoffmann2021aquascouts" class="csl-entry">
      <div class="csl-left-margin">[15]</div><div class="csl-right-inline">S. Hoffmann <i>et al.</i>, “AquaScouts: ePROs Implemented as a Serious Game for Children With Cancer to Support Palliative Care,” <i>Frontiers in Digital Health</i>, vol. 3, 2021.</div>
    </div>
    <div data-csl-entry-id="koumakis2021fostering" class="csl-entry">
      <div class="csl-left-margin">[16]</div><div class="csl-right-inline">L. Koumakis <i>et al.</i>, “Fostering Palliative Care Through Digital Intervention: A Platform for Adult Patients With Hematologic Malignancies,” <i>Frontiers in Digital Health</i>, vol. 3, 2021.</div>
    </div>
    <div data-csl-entry-id="meyerheim2021challenges" class="csl-entry">
      <div class="csl-left-margin">[17]</div><div class="csl-right-inline">M. Meyerheim, A. Burns-Gebhart, K. Mirzaie, T. Garani-Papadatos, Y. Braun, and N. Graf, “Challenges and pitfalls for implementing digital health solutions in clinical studies in Europe,” <i>Frontiers in Digital Health</i>, p. 135, 2021.</div>
    </div>
    <div data-csl-entry-id="payne2021mypal" class="csl-entry">
      <div class="csl-left-margin">[18]</div><div class="csl-right-inline">S. A. Payne, D. C. Moore, and K. Stamatopoulos, “MyPal: designing and evaluating digital patient-reported outcome systems for cancer palliative care in Europe,” <i>Journal of Palliative Medicine</i>, vol. 24, no. 7, pp. 962–964, 2021.</div>
    </div>
    <div data-csl-entry-id="karamanidou2020development" class="csl-entry">
      <div class="csl-left-margin">[19]</div><div class="csl-right-inline">C. Karamanidou, C. Maramis, K. Stamatopoulos, and V. Koutkias, “Development of a ePRO-Based Palliative Care Intervention for Cancer Patients: A Participatory Design Approach.,” <i>Studies in Health Technology and Informatics</i>, vol. 270, pp. 941–945, 2020.</div>
    </div>
    <div data-csl-entry-id="karamanidou2020electronic" class="csl-entry">
      <div class="csl-left-margin">[20]</div><div class="csl-right-inline">C. Karamanidou <i>et al.</i>, “Electronic patient-reported outcome–based interventions for palliative cancer care: a systematic and mapping review,” <i>JCO Clinical Cancer Informatics</i>, vol. 4, pp. 647–656, 2020.</div>
    </div>
  </div>
  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
