---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="csl-bib-body">
    <div data-csl-entry-id="alexopoulou2021sleep" class="csl-entry">Alexopoulou, C., Kyrou, D., Tsakona, D., Siopi, D., Amfilochiou, A., Steiropoulos, P., Pataka, A., Voulgaris, A., Trakada, G., Georgopoulou, A., &#38; others. (2021). <i>Sleep apnea patients report neglected care during COVID-19 pandemic</i>. Eur Respiratory Soc.</div>
    <div data-csl-entry-id="bonotis2021randomization" class="csl-entry">Bonotis, P., Chytas, A., Zacharioudakis, G., Karamanidou, C., Koumakis, L., Stamatopoulos, K., &#38; Natsiavas, P. (2021). Randomization of Clinical Trial Participants via an Integrated Web Service. In <i>Public Health and Informatics</i> (pp. 1124–1125). IOS Press.</div>
    <div data-csl-entry-id="dimitriadis2021pharmacovigilance" class="csl-entry">Dimitriadis, V. K., Gavriilidis, G. I., &#38; Natsiavas, P. (2021). Pharmacovigilance and clinical environment: utilizing OMOP-CDM and OHDSI software stack to integrate EHR data. In <i>Public Health and Informatics</i> (pp. 555–559). IOS Press.</div>
    <div data-csl-entry-id="garani2022ethical" class="csl-entry">Garani-Papadatos, T., Natsiavas, P., Meyerheim, M., Hoffmann, S., Karamanidou, C., &#38; Payne, S. A. (2022). Ethical Principles in digital palliative care for children: the MyPal project and the way to a trustworthy approach. <i>Frontiers in Digital Health</i>, 27.</div>
    <div data-csl-entry-id="gavriilidis2021identifying" class="csl-entry">Gavriilidis, G. I., Dimitriadis, V. K., Jaulent, M.-C., &#38; Natsiavas, P. (2021). Identifying Actionability as a Key Factor for the Adoption of ‘Intelligent’Systems for Drug Safety: Lessons Learned from a User-Centred Design Approach. <i>Drug Safety</i>, <i>44</i>(11), 1165–1178.</div>
    <div data-csl-entry-id="kakalou2021riskradar" class="csl-entry">Kakalou, C., Polychronidou, E., Drosou, V., Dimitriadis, V. K., Dermaris, T., Kordonias, R., Papaprodromou, A., Tsirelis, T., Maramis, C., Votis, K., &#38; others. (2021). RiskRadar: development and pilot results of a technical intervention targeting combination prevention regarding HIV, viral hepatitis, sexually transmitted infections and tuberculosis. <i>BMC Infectious Diseases</i>, <i>21</i>(2), 1–12.</div>
    <div data-csl-entry-id="kakalou2022gdpr" class="csl-entry">Kakalou, C., Polychronidou, E., Drosou, V., Dimitriadis, V. K., Dermaris, T., Kordonias, R., Papaprodromou, A., Tsirelis, T., Maramis, C., Votis, K., &#38; others. (2022). A GDPR-Compliant Partner Notification Service. <i>Studies in Health Technology and Informatics</i>, <i>289</i>, 460–464.</div>
    <div data-csl-entry-id="lazarus2021twitter" class="csl-entry">Lazarus, J. V., Kakalou, C., Palayew, A., Karamanidou, C., Maramis, C., Natsiavas, P., Picchio, C. A., Villota-Rivas, M., Zelber-Sagi, S., &#38; Carrieri, P. (2021). A Twitter discourse analysis of negative feelings and stigma related to NAFLD, NASH and obesity. <i>Liver International</i>, <i>41</i>(10), 2295–2307.</div>
    <div data-csl-entry-id="maramis2019using" class="csl-entry">Maramis, C., Karamanidou, C., Schera, F., Kiefer, S., Koumakis, L., Marias, K., Hoffmann, S., Parker, H., Reston, J., Payne, S., &#38; others. (2019). Using electronic patient reported outcomes to foster palliative cancer care: The MyPal Approach. <i>2019 IEEE 19th International Conference on Bioinformatics and Bioengineering (BIBE)</i>, 405–409.</div>
    <div data-csl-entry-id="meyerheim2021mypal" class="csl-entry">Meyerheim, M., Karamanidou, C., Payne, S., Garani-Papadatos, T., Sander, A., Downing, J., Stamatopoulos, K., Ling, J., Payne, C., Scarfò, L., &#38; others. (2021). MyPal-Child study protocol: an observational prospective clinical feasibility study of the MyPal ePRO-based early palliative care digital system in paediatric oncology patients. <i>BMJ Open</i>, <i>11</i>(4), e045226.</div>
    <div data-csl-entry-id="natsiavas2018leveraging" class="csl-entry">Natsiavas, P., Jaulent, M.-C., &#38; Koutkias, V. (2018). <i>Leveraging Semantic Technologies to Bring Active Pharmacovigilance at the Point of Care</i>.</div>
    <div data-csl-entry-id="scarfo2021mypal" class="csl-entry">Scarfò, L., Karamanidou, C., Doubek, M., Garani-Papadatos, T., Didi, J., Pontikoglou, C., Ling, J., Payne, C., Papadaki, H. A., Rosenquist, R., &#38; others. (2021). MyPal ADULT study protocol: a randomised clinical trial of the MyPal ePRO-based early palliative care system in adult patients with haematological malignancies. <i>BMJ Open</i>, <i>11</i>(11), e050256.</div>
    <div data-csl-entry-id="trakada2021prevalence" class="csl-entry">Trakada, G., Dimitriadis, V., Amfilochiou, A., Siopi, D., Paschidou, V., Alexopoulou, C., Varsou, G., Konstantinidis, A., Steiropoulos, P., Pataka, A., &#38; others. (2021). <i>Prevalence of Cardiometabolic Disease in the Greek Sleep Apnea Patients Cohort</i>. Eur Respiratory Soc.</div>
  </div>
  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
