---
layout: default
description: Template for news page
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for new in site.data.news %}
    <div class="post">
        <h2 id="news{{ loop.index0 }}">
          {{ new.title }}
        </h2>
        <img class="mr-3" src="{{ page.url | relative_url }}assets/img/CERTH_EHDEN_certification.png" alt="CERTH certificate">
        <p>{{ new.text }}</p>
        <img class="mr-3" src="{{ page.url | relative_url }}assets/img/INAB_EHDEN_SMEs.png" alt="INAB in certified SMEs' list">
  </div>
  {% endfor %}
</div>
